<div class="slim-header">
    <div class="container">
        <div class="slim-header-left">
            <!-- <img height="50px" src="assets/img/fast_logo_new.jpg" alt="FAST"> -->
            <!-- <img height="50px" src="assets/img/sg_new_logo.png" class="" alt="TT"> -->
            <img height="50px" width="130px" src="assets\img\HindujaTech.jpg" class="" alt="iDeal">
        </div><!-- slim-header-left -->
        <!-- <div class="slim-header-right">
            <div>
                <img height="50px" width="130px" src="assets/img/HindujaTech.jpg" class="" alt="iDeal">
            </div>
        </div> -->
    </div><!-- container -->
</div><!-- slim-header -->