.custom-dashboard mat-icon{
    font-size: 40px;
    height: 40px;
    width: 40px;
    color: #fff;
}
.custom-dashboard mat-card {
    border-radius: 0px;
    border: 1px solid #ddd
}
.custom-dashboard h1,p{
    color: #fff;
}
.overflow{
    overflow-y: auto;
}
.tx-blue{
    color:#1948f3;
}
.tx-21{
    font-size: 21px;
}

.close_nav{
    display: flex;
    justify-content: flex-end;
}
 /* mat-sidenav, 
 mat-sidenav.mat-locked-open, 
 mat-sidenav.mat-closed.mat-locked-open-add-active {
    min-width: 10vw !important;
    width: 30vw !important;
    max-width: 70vw !important;
}  */
table {
    width: 100%;
  }
  ::ng-deep.mat-expansion-panel-body{
      padding: 0px !important;
  }
  ::ng-deep.table_row{
      display: flex;
      justify-content: space-evenly;
  }
  .profile_nav{
    min-width: 25vw !important;
    width: 25vw !important;
    max-width: 30vw !important;
  }
  .child_nav{
    min-width: 60vw !important;
    width: 60vw !important;
    max-width: 60vw !important;
   }
   .main_nav{
    min-width: 40vw !important;
    width: 40vw !important;
    max-width: 40vw !important;
   }
   .sidenav-full{
    min-height:84.8vh;
  }
  .mat-drawer-container{
      background-color: #fff !important;
  }
  .contact-item{
    color:#555;
  }
  table {
    width: 100%;
  }
  table tr{
      cursor: pointer;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .filter_class{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  ::ng-deep.mat-form-field-wrapper{
    padding-bottom: 0px;
  }
  mat-input-container {
    height:2px;
   }
   
   tr.example-element-row.mat-row,tr.mat-header-row{
    height:40px !important;
   
   }
   ::ng-deep.mat-paginator-container{
    min-height:40px !important;
   }
   
   .filter_class ::ng-deep .mat-form-field-appearance-outline {
    height: 45px;
    line-height: 1.725;
  }
  
  .filter_class ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0px 10px 0px 10px;
  }
  
  .filter_class ::ng-deep .mat-form-field-infix {
    padding: 3px 0 3px 0;
  }
  ::ng-deep.mat-form-field-appearance-outline .mat-form-field-label{
    top :1em;
  }
  ::ng-deep.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    transform: translateY(-1.15em);
    -webkit-transform: translateY(-1.15em);
    font-size: 10px
  }