.slim-header{
    height: 8vh !important;
    min-height: 51px;   
    /* height: 8vh !important; */
}
.logged-user img{
    width: 35px !important;
    height: 35px !important;
}
.mat-badge-warn .mat-badge-content{
    background: #e59822 !important;
}
#dropdown-menu-custom{
    position: absolute;
    transform: translate3d(-295px, -12px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    max-height: 350px;
    min-height: 150px;
}
.dropdown-list{
    max-height: 306px;
    overflow-y: auto;
}
.mat-menu-item{
    font-size: 13px;
    color: #868ba1;
}
